
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Para todos os arquivos e sub-pastas localizados na pasta target/
/target/

# Para todos os arquivos e sub-pastas localizados na pasta bin/
/bin/

# Para arquivos de configuracao da IDE Eclipse
.classpath
.project
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
